body {
    display: grid;
    grid-template-columns: 1fr;
    width: 98vw;
    height: 98vh;
    margin: 0 auto;
    background-color: snow;
}

body, section, div, p, span, input, output {
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
}

section {
    padding: 1vw;
}

div.result {
    display: grid;
    align-items: center;
    margin-top: 2vw;
    width: 210px;
    height: 45px;
    background-color:  rgb(79, 228, 65);
}

p {
    font-size: 20px;
}

span {
    font-size: 20px;
    color: red;
}

input {
    font-size: 22px;
    margin: 0 15px;
    width: 170px;
}

input[type="button"] {
    background-color: rgba(43, 139, 151, 0.103);
}

input[type="button"]:hover {
    background-color: darksalmon;
}

output {
    font-size: 26px;
}
